<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Administración</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Gestión de Usuarios</a></li>
        </ol>
    </div>

    <!--Busqueda Empresa -Año - Mes -->
    <app-listado-busqueda></app-listado-busqueda>
   
    <div class="row">       
        <div class="col-lg-12">
            <!--Card-->
            <div class="card">    
                <div class="card-header">
                    <h4 class="card-title">Lista de Usuarios</h4>
                    <form>   
                        <div class="input-group mb-2 diet-search mr-4">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div> 
                    </form>    
                </div>
                            
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-hover table-responsive-sm">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th >#UserName</th>
                                    <th>Correo</th>                                   
                                    <th>Rol</th>
                                    <th>Estado</th>
                                    <th>Editar</th>                                   
                                    <th>Reestablecer Contraseña</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let lista of CurrentPerfil | paginate: { itemsPerPage: 5, currentPage: p }">
                                    <th> {{lista.id}} </th>
                                    <td> {{lista.correo}}</td>   
                                    <td> {{lista.rol}} </td> 

                                    <td *ngIf="lista.estado == 'Activo'"> 
                                        <span class="badge badge-success"> {{lista.estado}} </span>
                                    </td>
                                    <td *ngIf="lista.estado == 'Inactivo'"> 
                                        <span class="badge badge-danger"> {{lista.estado}} </span>
                                    </td>
                                                                      
                                    <td>
                                        <div class="d-flex">
                                            <!--
                                                <a href="#" class="btn btn-primary shadow btn-xs sharp mr-2"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                            -->
                                            <a class="mr-2"></a>                                            
                                            <a href="#" class="btn btn-primary shadow btn-xs sharp" data-toggle="modal" data-target=".bd-example-modal-lg">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>                                         
                                        <span class="badge badge-primary light"> Restablecer <i class="fa fa-envelope"></i> </span>
                                    </td>                                    
                                </tr>                         
                            </tbody>
                        </table>
                        <div class="pagination">
                            <pagination-controls (pageChange)="p = $event" previousLabel=""
                            nextLabel=""></pagination-controls>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- /# card -->
            <!-- Modal 1 -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Actualizar Usuario</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            <div class="col-xl-12 col-lg-6" >                               
                                <div class="basic-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-sm-6">
                                                <label>Nombre Usuario :</label>
                                                <input type="text" disabled class="form-control" placeholder="First name">
                                            </div>
                                            <div class="col-sm-6 mt-2 mt-sm-0">
                                                <label>Correo :</label>
                                                <input type="email" class="form-control" placeholder="Correo">
                                            </div>
                                            <div class="col-sm-6  mt-2 mt-sm-2">
                                                <label>Rol :</label>
                                                <select class="form-control default-select" id="sel1">
                                                    <option>Admin</option>
                                                    <option>Trabajador</option>
                                                    <option>ROL_ADMIN</option>
                                                    <option>Supervisor</option>
                                                </select>    
                                                <select id="inputState" class="form-control default-select">
                                                    <option selected>Choose...</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>                                                                    
                                            </div>
                                            <div class="col-sm-6  mt-2 mt-sm-2">
                                                <label>Estado :</label>
                                                <select class="form-control default-select" id="sel1">
                                                    <option selected>Activo</option>
                                                    <option>Inactivo</option>                                                                       
                                                </select>                                                                        
                                            </div>
                                        </div>  
                                    </form>
                                </div>                                    
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# Modal 1 --> 

                    

        </div>       
    </div>
</div>
