<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Configuración</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Tipo de Planilla</a></li>
        </ol>
    </div>
    
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">                
                <div class="mr-auto pr-3 mt-0">
                    <h4 class="card-title mr-auto pr-3 mt-3">Lista</h4>
                </div>
                
                <div class="input-group mt-0 diet-search mr-3">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary mt-0 mr-3" data-toggle="modal" data-target=".mtpa">Nuevo Tipo de Planilla
                    <span class="btn-icon-right">
                            <i class="fa fa-plus"></i>
                    </span>
                </button>
                <button type="button" class="btn btn-primary mt-0" data-toggle="modal" data-target="#mtpgamc">Generar Asistencia Masiva
                    <span class="btn-icon-right">
                            <i class="fa fa-download"></i>
                    </span>
                </button>
            </div>
            <div class="card-body">                
                <div class="table-responsive">
                    <table class="table table-hover table-sm mb-0 table-responsive-lg text-black">
                        <thead>
                            <tr>                                
                                <th class="align-middle">Nombre</th>
                                <th class="align-middle pr-7">Categoria</th> 
                                <th class="align-middle pr-7">Asignar Perfiles</th>                               
                                <th class="align-middle pr-7">Asignar Trabajadores</th>                               
                                <th class="align-middle pr-7">Generar Asistencia</th>  
                                <th class="align-middle">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="orders">
                            <tr class="btn-reveal-trigger" *ngFor="let lista of CurrentPerfil | paginate: { itemsPerPage: 5, currentPage: p }">                               
                               
                                <td class="py-2">
                                     <strong>CEO</strong>                                   
                                </td>
                                <td class="py-2">Gerencial General</td>
                                <td> 
                                    <a data-toggle="modal" data-target=".mtpap" style="cursor: pointer;">
                                        <span class="badge badge-primary light"> Asignar <i class="fa fa-users"></i> </span>
                                    </a>                                        
                                </td> 
                                <td>       
                                    <a data-toggle="modal" data-target=".mtpat" style="cursor: pointer;">
                                        <span class="badge badge-warning light"> Asignar <i class="fa fa-user-plus"></i> </span>
                                    </a>                                  
                                </td> 
                                <td>   
                                    <a data-toggle="modal" data-target="#mtpgac" style="cursor: pointer;">
                                        <span class="badge badge-info light"> Generar <i class="fa fa-download"></i> </span>
                                    </a>                                      
                                </td>               
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-primary shadow btn-xs sharp mr-1" data-toggle="modal" data-target=".mtpaa"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger shadow btn-xs sharp" data-toggle="modal" data-target="#mtpe"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="btn-reveal-trigger">
                                
                                <td class="py-2">
                                    <strong>RRHH</strong>                             
                                </td>
                                <td class="py-2">Gerencial General</td> 
                                <td> 
                                    <a data-toggle="modal" data-target=".mtpap" style="cursor: pointer;">
                                        <span class="badge badge-primary light"> Asignar <i class="fa fa-users"></i> </span>
                                    </a>                                        
                                </td> 
                                <td>       
                                    <a data-toggle="modal" data-target=".mtpat" style="cursor: pointer;">
                                        <span class="badge badge-warning light"> Asignar <i class="fa fa-user-plus"></i> </span>
                                    </a>                                  
                                </td> 
                                <td>   
                                    <a data-toggle="modal" data-target="#mtpgac" style="cursor: pointer;">
                                        <span class="badge badge-info light"> Generar <i class="fa fa-download"></i> </span>
                                    </a>                                      
                                </td>
                                               
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-primary shadow btn-xs sharp mr-1" data-toggle="modal" data-target=".mtpaa"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger shadow btn-xs sharp" data-toggle="modal" data-target="#mtpe"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            
                            <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" ></pagination-controls>
                                                       
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Agregar Tipo Planilla-->
    <div class="modal fade mtpa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Tipo Planilla</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">                           
                    <div class="basic-form">
                        <form>                            
                            <div class="form-row">                                  
                                <div class="col-sm-6 mt-2 mt-sm-2 mb-2">
                                    <label>&nbsp;Descripción :</label>
                                    <input type="text" class="form-control" placeholder="Agregue una descripción">                                                                                                           
                                </div>  
                                <div class="col-sm-6 mt-2 mt-sm-2 mb-2">
                                    <label>&nbsp;Tipo Categoría :</label>
                                    <select class="form-control" id="sel1"><!--default-select-->
                                        <option selected disabled>Selecciona una categoriía</option>
                                        <option>Cuarta Categoría</option>
                                        <option>Quinta Categoría</option>                                         
                                    </select>                                                                        
                                </div>                                     
                            </div>
                            <div class="table-responsive">                                                        
                                <table class="table table-hover table-bordered table-responsive-sm" style="overflow:auto;">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">¿Visible?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-active">
                                            <th class="text-center">Role_Admin
                                            </th>
                                            <td class="text-center">
                                                <div class="custom-control custom-checkbox check-lg">
                                                    <input type="checkbox" class="custom-control-input" id="customCheckBox1" required="">
                                                    <label class="custom-control-label" for="customCheckBox1"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="table-active">
                                            <th class="text-center">Administrador
                                            </th>
                                            <td class="text-center">
                                                <div class="custom-control custom-checkbox check-lg">
                                                    <input type="checkbox" class="custom-control-input" id="customCheckBox2" required="">
                                                    <label class="custom-control-label" for="customCheckBox2"></label>
                                                </div>
                                            </td>
                                        </tr>                                                   
                                    </tbody>
                                </table>
                            </div>                                                     
                        </form>
                    </div>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mtpac">Actualizar</button>
                </div>
            </div>
        </div>               
    </div>
    <!-- /# Fin Modal Agregar Tipo Planilla --> 

    <!-- Modal Confirmación Agregar Tipo Planilla-->    
    <div class="modal fade" id="mtpac">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea registrar el Tipo de Planilla?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal Confirmación Agregar Tipo Planilla-->  
    
    <!-- Modal Actualizar Tipo Planilla-->
    <div class="modal fade mtpaa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar Tipo Planilla</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">                           
                    <div class="basic-form">
                        <form>                            
                            <div class="form-row">                                  
                                <div class="col-sm-6 mt-2 mt-sm-2 mb-2">
                                    <label>&nbsp;Descripción :</label>
                                    <input type="text" class="form-control" placeholder="Agregue una descripción">                                                                                                           
                                </div>  
                                <div class="col-sm-6 mt-2 mt-sm-2 mb-2">
                                    <label>&nbsp;Tipo Categoría :</label>
                                    <select class="form-control" id="sel1"><!--default-select-->
                                        <option selected disabled>Selecciona una categoriía</option>
                                        <option>Cuarta Categoría</option>
                                        <option>Quinta Categoría</option>                                         
                                    </select>                                                                        
                                </div>                                     
                            </div>                                                                             
                        </form>
                    </div>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mtpaac">Actualizar</button>
                </div>
            </div>
        </div>               
    </div>
    <!-- /# Fin Modal Actualizar Tipo Planilla -->  
    <!-- Modal Confirmación Actualizar Tipo Planilla-->    
    <div class="modal fade" id="mtpaac">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea actualizar el Tipo de Planilla?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Modal Confirmación Actualizar Tipo Planilla-->  

    <!-- Modal Confirmación Eliminar Tipo Planilla-->    
    <div class="modal fade" id="mtpe">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea eliminar el Tipo de Planilla?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>  
    <!--Fin Modal Confirmación Eliminar Tipo Planilla-->   
    
    <!-- Modal Asignar Perfiles-->
    <div class="modal fade mtpap" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Tipo Planilla</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">                           
                    <div class="basic-form">
                        <form> 
                            <div class="table-responsive">                                                        
                                <table class="table table-hover table-bordered table-responsive-sm" style="overflow:auto;">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">¿Visible?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-active">
                                            <th class="text-center">Role_Admin
                                            </th>
                                            <td class="text-center">
                                                <div class="custom-control custom-checkbox check-lg">
                                                    <input type="checkbox" class="custom-control-input" id="customCheckBox1" required="">
                                                    <label class="custom-control-label" for="customCheckBox1"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="table-active">
                                            <th class="text-center">Administrador
                                            </th>
                                            <td class="text-center">
                                                <div class="custom-control custom-checkbox check-lg">
                                                    <input type="checkbox" class="custom-control-input" id="customCheckBox2" required="">
                                                    <label class="custom-control-label" for="customCheckBox2"></label>
                                                </div>
                                            </td>
                                        </tr>                                                   
                                    </tbody>
                                </table>
                            </div>                                                     
                        </form>
                    </div>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mtpac">Actualizar</button>
                </div>
            </div>
        </div>               
    </div>
    <!-- /# Fin Modal Asignar Perfiles -->   

    <!-- Modal Asignar Trabajadores-->
    <div class="modal fade mtpat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Tipo Planilla</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a (click)="this.ViewButtonAR(1)" class="nav-link active" data-toggle="tab" href="#asignar"><i class="fa fa-user-times mr-2"></i>Sin Asignar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a (click)="this.ViewButtonAR(2)" class="nav-link" data-toggle="tab" href="#sinasignar"><i class="fa fa-user-plus mr-2"></i> Asignados</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="asignar" role="tabpanel">
                                        <div class="pt-4">
                                            <div class="basic-form">
                                                <form> 
                                                    <div class="table-responsive">                                                        
                                                        <table class="table table-hover table-bordered table-responsive-sm" style="overflow:auto;">
                                                            <thead class="thead-primary">
                                                                <tr>
                                                                    <th class="text-center">Nombre</th>
                                                                    <th class="text-center">Asignar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="table-active">
                                                                    <th class="text-center">Amaia Montero
                                                                    </th>
                                                                    <td class="text-center">
                                                                        <div class="custom-control custom-checkbox check-lg">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheckBox3" required="">
                                                                            <label class="custom-control-label" for="customCheckBox3"></label>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="table-active">
                                                                    <th class="text-center">Gustavo Adolfo Bécquer
                                                                    </th>
                                                                    <td class="text-center">
                                                                        <div class="custom-control custom-checkbox check-lg">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheckBox4" required="">
                                                                            <label class="custom-control-label" for="customCheckBox4"></label>
                                                                        </div>
                                                                    </td>
                                                                </tr>                                                   
                                                            </tbody>
                                                        </table>
                                                    </div>                                                     
                                                </form>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="sinasignar">
                                        <div class="pt-4">
                                            <div class="basic-form">
                                                <form> 
                                                    <div class="table-responsive">                                                        
                                                        <table class="table table-hover table-bordered table-responsive-sm" style="overflow:auto;">
                                                            <thead class="thead-primary">
                                                                <tr>
                                                                    <th class="text-center">Nombre</th>
                                                                    <th class="text-center">Revocar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="table-active">
                                                                    <th class="text-center">Amaia Montero
                                                                    </th>
                                                                    <td class="text-center">
                                                                        <div class="custom-control custom-checkbox check-lg">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheckBox5" required="">
                                                                            <label class="custom-control-label" for="customCheckBox5"></label>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="table-active">
                                                                    <th class="text-center">Gustavo Adolfo Bécquer
                                                                    </th>
                                                                    <td class="text-center">
                                                                        <div class="custom-control custom-checkbox check-lg">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheckBox6" required="">
                                                                            <label class="custom-control-label" for="customCheckBox6"></label>
                                                                        </div>
                                                                    </td>
                                                                </tr>                                                   
                                                            </tbody>
                                                        </table>
                                                    </div>                                                     
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>   
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button *ngIf="this.viewAsignar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mtpatc">Asignar</button>
                    <button *ngIf="this.viewRevocar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mtprtc">Revocar</button>
                </div>
            </div>
        </div>               
    </div>
    <!-- /# Fin Modal Asignar Trabajadores -->   

    <!-- Modal Confirmación Asignar Trabajadores-->    
    <div class="modal fade" id="mtpatc">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea Asignar a el/los trabajador(es)?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>  
    <!--Fin Modal Confirmación Asignar Trabajadores--> 

    <!-- Modal Confirmación Revocar Trabajadores-->    
    <div class="modal fade" id="mtprtc">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea Revocar a el/los trabajador(es)?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>   
    <!--Fin Modal Confirmación Revocar Trabajadores--> 

     <!-- Modal Confirmación Generar Asistencia Masiva-->    
     <div class="modal fade" id="mtpgamc">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea generar excel de asistencia masiva?  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>   
     <!-- Fin Modal Confirmación Generar Asistencia Masiva-->    

     <!-- Modal Confirmación Confirmación Generar Asistencia -->    
     <div class="modal fade" id="mtpgac">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Desea generar excel de asistencia?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>   
    <!--Fin Modal Confirmación Confirmación Generar Asistencia --> 



</div>