<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row">                                  
                    <div class="col-sm-4 mt-2 mt-sm-2">
                        <label>Empresa :</label>
                        <select class="form-control default-select" id="sel1">
                            <option selected>Selecciona la Empresa</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>                                         
                        </select>                                                                        
                    </div> 
                    <div class="col-sm-4 mt-2 mt-sm-2">
                        <label>Año :</label>
                        <select class="form-control default-select" id="sel1">
                            <option selected>Selecciona el Año</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>                                         
                        </select>                                                                        
                    </div>   
                    <div class="col-sm-4 mt-2 mt-sm-2">
                        <label>Mes :</label>
                        <select class="form-control default-select" id="sel1">
                            <option selected>Selecciona el Mes</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>                                         
                        </select>                                                                        
                    </div>                                      
                </div>                          
            </form>
        </div>
    </div>
</div>