<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Configuración</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Seguro Complementario de Trabajo de Riesgo</a></li>
        </ol>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div id="padre" class="form-row">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 hijo">
                            <label class="mr-sm-2" style="font-weight: bolder; font-size: 1rem; color: #000;margin-left: 10%;">Empresa</label>
                            <select class="default-select">
                                <option selected>Selecciona la Empresa</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 hijo">
                            <label class="mr-sm-2" style="font-weight: bolder; font-size: 1rem; color: #000;margin-left: 10%;">Año</label>
                            <select class="mr-sm-2 default-select" id="inlineFormCustomSelect">
                                <option selected>Selecciona el Año</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 hijo">
                            <label class="mr-sm-2" style="font-weight: bolder; font-size: 1rem; color: #000;margin-left: 10%;">Mes</label>
                            <select class="mr-sm-2 default-select" id="inlineFormCustomSelect">
                                <option selected>Selecciona el Mes</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -->
    
    <!-- -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    <li class="nav-item mr-auto">
                        <button type="button" class="btn btn-rounded btn-success" style="font-size: 13px;"><span
                            class="btn-icon-left text-success"><i class="fa fa-plus" style="font-size: 20px;"></i>
                        </span> Nuevo S.C.T.R</button>
                    </li>
                    <p style="margin-left:8px"></p>                                 
                    <li class="nav-item">
                        <div class="input-group diet-search ml-2">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </li>                    
                </ul>
                <!-- -->
                <div class="table-responsive">
                    <table class="table header-border table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Actualizar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ninguno
                                </td>
                                <td>NIGUNO</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-trash" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ESSALUD
                                </td>
                                <td>SALUD</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-trash" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>EPS
                                </td>
                                <td>SALUD</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-trash" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ONP
                                </td>
                                <td>Pensión</td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" ><i class="fa fa-trash" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <!-- -->
            </div>
            <nav>
                <ul class="pagination pagination-gutter">
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>