<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Configuración</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Sistema de Pensión</a></li>
        </ol>
    </div>

    <!--Busqueda Empresa -Año - Mes -->
    <app-listado-busqueda></app-listado-busqueda>
    <!-- -->
    
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    <li class="nav-item mr-auto">
                        <button data-toggle="modal" data-target="#nrafp" type="button" class="btn btn-rounded btn-success" style="font-size: 13px;"><span
                            class="btn-icon-left text-success"><i class="fa fa-plus" style="font-size: 20px;"></i>
                        </span> Nuevo Sistema de Pensión</button>
                    </li>
                    <p style="margin-left:8px"></p>                                 
                    <li class="nav-item">
                        <div class="input-group diet-search ml-2">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </li>                    
                </ul>
                <!-- -->
                <div class="table-responsive">
                    <table class="table header-border table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Nombre Sistema de Pensión</th>
                                <th>Aporte Fondo de Pensiones</th>
                                <th>Prima de Seguros</th>
                                <th>Comisión Sobre Flujos</th>
                                <th>Comisión Sobre Flujo Mixto</th>
                                <th>Comisión Anual Sobre Saldo</th>
                                <th>Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ONP
                                </td>
                                <td>1%</td>
                                <td>1%</td>
                                <td>1%</td>
                                <td>1%</td>
                                <td>
                                    1%
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target="#arafp" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                    </div>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
                
                <!-- -->
            </div>
            <nav>
                <ul class="pagination pagination-gutter">
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="modal fade" id="nrafp">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Registro Aportacion Fondo Pension</h5>
                    
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">   
                        <div class="mt-1 col-sm-6 mb-0" >
                            <div class="card-body badge-rounded badge-outline-dark">
                                <div class="col-sm-12">
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <label>Nombre Sitema de Pensión :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Aporte Fondo Pensiones :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Prima de Seguros :</label>
                                            <input type="text" class="form-control">   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 col-sm-6 mb-0" >
                            <div class="card-body badge-rounded badge-outline-dark">
                                <div class="col-sm-12">
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <label>Comision Sobre Flujo :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Comision Sobre Flujo Mixto :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Comision Anual Sobre Saldo :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="arafp">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar  Registro Aportacion Fondo Pension</h5>
                    
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">   
                        <div class="mt-1 col-sm-6 mb-0" >
                            <div class="card-body badge-rounded badge-outline-dark">
                                <div class="col-sm-12">
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <label>Nombre Sitema de Pensión :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Aporte Fondo Pensiones :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Prima de Seguros :</label>
                                            <input type="text" class="form-control">   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 col-sm-6 mb-0" >
                            <div class="card-body badge-rounded badge-outline-dark">
                                <div class="col-sm-12">
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <label>Comision Sobre Flujo :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Comision Sobre Flujo Mixto :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                        <div class="col-sm-12">
                                            <label>Comision Anual Sobre Saldo :</label>
                                            <input type="text" class="form-control">    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Continuar</button>
                </div>
            </div>
        </div>
    </div>

</div>