<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Planillas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Préstamo</a></li>
        </ol>
    </div>
    
    <!--Busqueda Empresa -Año - Mes -->
    <app-listado-busqueda></app-listado-busqueda>
    <!-- -->
    
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    <li class=" nav-item">
                        <a href="#navpillsCA1" class="nav-link active" data-toggle="tab" aria-expanded="false">Planillas</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a href="#navpillsCA2" class="nav-link" data-toggle="tab" aria-expanded="false">Recibo por Honorarios</a>
                    </li>                                  
                    <li class="nav-item">
                        <div class="input-group diet-search ml-2">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </li>                    
                </ul>
                <!-- -->
                <div class="tab-content">
                    <div id="navpillsCA1" class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Número de Documento</th>
                                        <th>Apellidos y Nombres</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Sexo</th>
                                        <th>Estado</th>
                                        <th>Ver</th>
                                        <th>Registrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>08587715
                                        </td>
                                        <td>BONIFAZ PAREDES ELIO GUSTAVO</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0)">70876196</a>
                                        </td>
                                        <td>PICARDO MENDOZA JESUS OMAR</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12345678
                                        </td>
                                        <td>PITER CASAZOLA QUISPE</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87654321
                                        </td>
                                        <td>DIEGO HERNANDO CAMPOS SANDOVAL</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Femenino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                    <div id="navpillsCA2" class="tab-pane">
                        <div class="table-responsive">
                            <table class="table header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Número de Documento</th>
                                        <th>Apellidos y Nombres</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Sexo</th>
                                        <th>Estado</th>
                                        <th>Ver</th>
                                        <th>Registrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>08587715
                                        </td>
                                        <td>SILVA CHRISTIAN</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0)">70876196</a>
                                        </td>
                                        <td>GUEVARA JEAN</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12345678
                                        </td>
                                        <td>SOPLIN RONCAL JOSE JESUS</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87654321
                                        </td>
                                        <td>DIEGO HERNANDO CAMPOS SANDOVAL</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Femenino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".verPrestamo"><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" data-toggle="modal" data-target=".registrarPrestamo" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- -->
            </div>
            <nav>
                <ul class="pagination pagination-gutter">
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade registrarPrestamo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header color-page-modal">
                <h5 class="modal-title" style="color: black;">Registro préstamo</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-row col-6 mt-2">
                        <div class="col-12 mb-3">
                            <label>Fecha Estimada Abono :</label>
                            <input class="form-control form-control-sm" type="text" required>
                        </div>
                    </div>
                    <div class="form-row col-6 mt-2">
                        <div class="col-12 mb-3">
                            <label for="montt">Monto :</label>
                            <input class="form-control form-control-sm" type="number" required>
                        </div>
                    </div>
                    <div class="form-row col-6">
                        <div class="col-12 mb-3">
                            <label for="nroc">Cuotas :</label>
                            <input class="form-control form-control-sm" type="number" required>
                        </div>
                    </div>
                    <div class="form-row col-6">
                        <div class="col-12 mb-3">
                            <label for="pagom">Pago mensual: </label>
                            <input class="form-control form-control-sm" type="number" required>
                        </div>
                    </div>
                    <div class="form-row col-6">
                        <div class="col-12 mb-3">
                            <label for="ano">Periodo inicio descuento :</label>
                            <select class="form-control default-select" id="sel1">
                                <option>2021</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row col-6">
                        <div class="col-12 mt-1 mb-3">
                            <label for id="mes"> &nbsp; </label>
                            <select class="form-control default-select" id="sel1">
                                <option>Enero</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div> 
</div>

<!-- -->

<div class="modal fade verPrestamo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header color-page-modal">
                <h5 class="modal-title" style="color: black;">Ver préstamo</h5>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="card example-2 square scrollbar-cyan bordered-cyan" style="overflow-x: hidden;">
                        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th class="text-center" colspan="2">Fecha Solicitud</th>
                                    <th class="text-center">Fecha abono</th>
                                    <th class="text-center">Monto Total</th>
                                    <th class="text-center">Cuotas</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center" colspan="2">Archivo</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr style="font-size: 12px">
                                    <td class="text-center" style="padding: 10px  0px 0px 0px">
                                        <a >
                                            <i class="mdi mdi-arrow-up-drop-circle efecctrotate" style="font-size: 23px; cursor: pointer;"></i>
                                        </a>
                                        <a >
                                            <i class="mdi mdi-arrow-down-drop-circle efecctrotate" style="font-size: 23px; cursor: pointer;"></i>
                                        </a>
                                    </td>
                                    <td style="padding-top: 15px">Fecha Solicitud</td>
                                    <td style="padding-top: 15px">Fecha Abono</td>
                                    <td style="padding-top: 15px">Monto Total</td>
                                    <td style="padding-top: 15px">Cuotas</td>
                                    <td style="padding-top: 6px; padding-bottom: 4px;"> <i class="mdi mdi-emoticon-neutral" aria-hidden="true" style="font-size: 30px; color: #ff0000;"></i></td>
                                    <!-- Demás Estados (Caritas) :v -->
                                    <!-- <td style="padding-top: 6px; padding-bottom: 4px;"> <i class="mdi mdi-emoticon-neutral" aria-hidden="true" style="font-size: 30px; color: #f3ff00;"></i></td>
                                    <td style="padding-top: 6px; padding-bottom: 4px;"> <i class="mdi mdi-emoticon" aria-hidden="true" style="font-size: 30px; color: #ff8500 ;"></i></td>
                                    <td style="padding-top: 6px; padding-bottom: 4px;"> <i class="mdi mdi-emoticon" aria-hidden="true" style="font-size: 30px; color: #02ff00 ;"></i></td> -->
                                                                  
                                    <button type="button" class="btn light btn-primary" style="overflow: hidden; position: relative;">
                                        <input class="fileInput" type="file" name="file1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                            style="cursor: pointer; height: 20%!important; width: 50%!important; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                                        <span class="btn-icon-left text-primary">
                                            <i class="fa fa-upload color-info"></i>
                                        </span> Subir
                                    </button>
                                    <!-- Si se va a Descargar (Luego de Subir el Archivo) -->
                                    <!-- <td style="padding-top:8px; padding-bottom: 0px;" class="text-center">
                                        <i class="mdi mdi-cloud-download icon-z" aria-hidden="true"></i>
                                    </td> -->
                                </tr>
                                <tr style="font-size: 12px">
                                    <td colspan="7">
                                        <div class="form-row col-12" style="margin: 0 auto;">
                                            <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                                                <thead style="background: #ebeff5;">
                                                    <tr>
                                                        <th class="text-center">Mes</th>
                                                        <th class="text-center">Año</th>
                                                        <th class="text-center">Estado</th>
                                                        <th class="text-center">Monto Mensual</th>
                                                    </tr>
                                                </thead>
                                                <tbody align="center">
                                                    <tr style="font-size: 12px">
                                                        <td>descripcion cuota</td>
                                                        <td>descripcion Año</td>
                                                        <td style="padding: 4px 0px 0px 0px;"> <i class="mdi mdi-emoticon-neutral" aria-hidden="true" style="cursor: pointer; font-size: 25px; color: #ffd800;"></i>
                                                        </td>
                                                        <td style="padding: 4px 0px 0px 0px;"> <i class="mdi mdi-emoticon" aria-hidden="true" style="cursor: pointer; font-size: 25px; color: #19E422 ;"></i>
                                                        </td>
                                                        <!-- <td>Monto Cuota</td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




