<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Planillas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Préstamo</a></li>
        </ol>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div id="padre" class="form-row">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 hijo">
                            <label class="mr-sm-2" style="font-weight: bolder; font-size: 1rem; color: #000;margin-left: 10%;">Empresa</label>
                            <select class="default-select">
                                <option selected>Selecciona la Empresa</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 hijo">
                            <label class="mr-sm-2" style="font-weight: bolder; font-size: 1rem; color: #000;margin-left: 10%;">Año</label>
                            <select class="mr-sm-2 default-select" id="inlineFormCustomSelect">
                                <option selected>Selecciona el Año</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 hijo">
                            <label class="mr-sm-2" style="font-weight: bolder; font-size: 1rem; color: #000;margin-left: 10%;">Mes</label>
                            <select class="mr-sm-2 default-select" id="inlineFormCustomSelect">
                                <option selected>Selecciona el Mes</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -->
    
    <!-- -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    <li class=" nav-item">
                        <a href="#navpillsCA1" class="nav-link active" data-toggle="tab" aria-expanded="false">Planillas</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a href="#navpillsCA2" class="nav-link" data-toggle="tab" aria-expanded="false">Recibo por Honorarios</a>
                    </li>                                  
                    <li class="nav-item">
                        <div class="input-group diet-search ml-2">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </li>                    
                </ul>
                <!-- -->
                <div class="tab-content">
                    <div id="navpillsCA1" class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Número de Documento</th>
                                        <th>Apellidos y Nombres</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Sexo</th>
                                        <th>Estado</th>
                                        <th>Ver</th>
                                        <th>Registrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>08587715
                                        </td>
                                        <td>BONIFAZ PAREDES ELIO GUSTAVO</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0)">70876196</a>
                                        </td>
                                        <td>PICARDO MENDOZA JESUS OMAR</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12345678
                                        </td>
                                        <td>PITER CASAZOLA QUISPE</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87654321
                                        </td>
                                        <td>DIEGO HERNANDO CAMPOS SANDOVAL</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Femenino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                    <div id="navpillsCA2" class="tab-pane">
                        <div class="table-responsive">
                            <table class="table header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Número de Documento</th>
                                        <th>Apellidos y Nombres</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Sexo</th>
                                        <th>Estado</th>
                                        <th>Ver</th>
                                        <th>Registrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>08587715
                                        </td>
                                        <td>SILVA CHRISTIAN</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0)">70876196</a>
                                        </td>
                                        <td>GUEVARA JEAN</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12345678
                                        </td>
                                        <td>SOPLIN RONCAL JOSE JESUS</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Masculino</td>
                                        <td>
                                            <span class="badge badge-success">Activo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>87654321
                                        </td>
                                        <td>DIEGO HERNANDO CAMPOS SANDOVAL</td>
                                        <td>mail@email.com</td>
                                        <td>O1-01-2020</td>
                                        <td>Femenino</td>
                                        <td>
                                            <span class="badge badge-danger">Inactivo</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-eye" style="font-size: 25px; color: #0B2A97;"></i></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-paper-plane" style="font-size: 25px; color: #0B2A97; margin-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- -->
            </div>
            <nav>
                <ul class="pagination pagination-gutter">
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>