<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Contabilidad</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Conceptos y Cuentas</a></li>
        </ol>
    </div>
    
    <!--Busqueda Empresa -Año - Mes -->
    <app-listado-busqueda></app-listado-busqueda>
    <!-- -->
    
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    <li (click)="this.ViewButtonConcepto(1)" class=" nav-item">
                        <a href="#navpillsCA1" class="nav-link active" data-toggle="tab" aria-expanded="false">Concepto Planillas</a>
                    </li>
                    <li (click)="this.ViewButtonConcepto(2)" class="nav-item mr-auto">
                        <a href="#navpillsCA2" class="nav-link" data-toggle="tab" aria-expanded="false">Cuentas Contables</a>
                    </li>
                    <li *ngIf="this.viewGenerarR" class="nav-item">
                        <button type="button" class="btn btn-rounded btn-primary"><span
                            class="btn-icon-left text-primary"><i class="fa fa-file-text-o"></i>
                        </span>Generar Reporte</button>
                    </li>  
                    <li *ngIf="this.viewConfigVP" class="nav-item">
                        <button type="button" class="btn btn-rounded btn-primary"><span
                            class="btn-icon-left text-primary"><i class="fa fa-cog"></i>
                        </span>Configurar Vista Plame</button>
                    </li>
                    <p style="margin-left:8px"></p>                              
                    <li class="nav-item">
                        <div class="input-group diet-search ml-2">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </li>       
                </ul>
                
                <!-- -->
                <div class="tab-content">
                    <div id="navpillsCA1" class="tab-pane active">
                        
                        <div class="table-responsive">
                            <table class="table header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Cuenta Haber Provisión</th>
                                        <th>Cuenta Debe Provisión</th>
                                        <th>Cuenta Haber Pago</th>
                                        <th>Cuenta Debe Pago</th>
                                        <th>Concepto Plame</th>
                                        <th>Actualizar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Feriados Laborados
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; padding-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Horas Extra 25%
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; padding-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Horas Extra 35%
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; padding-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gratificaciones
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; padding-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Comisiones
                                        </td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="#" ><i class="fa fa-pencil-square-o" style="font-size: 25px; color: #0B2A97; padding-left: 100%;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                    <div id="navpillsCA2" class="tab-pane">                        
                        <div class="table-responsive">
                            <table class="table header-border table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>101
                                        </td>
                                        <td>Caja</td>
                                    <tr>
                                        <td>102
                                        </td>
                                        <td>Fondos Fijos</td>
                                    </tr>
                                    <tr>
                                        <td>103-1
                                        </td>
                                        <td>Efectivo en tránsito</td>
                                    </tr>
                                    <tr>
                                        <td>103-2
                                        </td>
                                        <td>Cheques en tránsito</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- -->
            </div>
            <nav>
                <ul class="pagination pagination-gutter">
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>