<div class="col-xl-12 col-lg-12">
    <div class="authincation h-100" >
        <div class="container h-100" >
            <div class="row justify-content-center h-100 align-items-center" style="margin-top: 20%;">
                <div class="col-md-6">
                    <div class="authincation-content" style="border-radius: 25px;">
                        <div class="row no-gutters">
                            <div class="col-xl-12" >
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <a href="/"><img src="../../../../assets/images/Logo Planillas/LogoPlanillasLight.png" width="40%" alt=""></a>
                                    </div>
                                    
                                    <h3 class="text-center mb-4 text-white">¿Tienes problemas para iniciar sesión?</h3>

                                    <form class="">
                                        <div class="form-group ">
                                            <label class="text-white"><strong>Correo Electrónico</strong></label>
                                            <input type="email" placeholder="Ingresa tu Correo Electrónico" class="form-control">                                                        
                                        </div>
                                       
                                        <button type="submit" style="margin-left:22%; margin-top: 5%;" class="btn bg-white text-primary">Enviar Solicitud <span
                                            class="btn-icon-right" style="  border-left: 1px solid #0B2A97;"><i class="fa fa-envelope"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>